/.idea/
/.sass-cache/
/vendor/
/lib/
/ext/
/doc/
/bin/
/stylesheets/
/test/
AUTHORS
CHANGELOG
LICENSE
package.xml.tpl
README.markdown
phpunit.xml.dist
/templates/_temp/

/foundation/.sass-cache/
/foundation/bower-components/
/foundation/js/
/foundation/stylesheets/