<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    {% for key, tab in tabData %}
        <li class="{% if loop.first %}active{% endif %}"><a href="#{{ key }}" role="tab" data-toggle="tab">{{ tab.title }}</a></li>
    {% endfor %}
</ul>
<!-- Tab panes -->
<div class="tab-content">
    {% for key, tab in tabData %}
    <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ key }}"><p class='tabPane'>{{ tab.content }}</p></div>
    {% endfor %}
</div>