{% extends "layout/base.html.twig" %}
{% block title %}My Foundation site
{% endblock title %}
       {% block stylesheets %}
           <!-- If you are using the gem version, you need this only -->
           <link rel="stylesheet" href="stylesheets/app.css">
       {% endblock stylesheets %}

        {% block body %}
        <div class='two-col'> 
            <section id="navi">
                {% block navigation %}
                    {% include "components/navigation.html.twig" %}
                {% endblock navigation %}
            </section>
            <section id='header'>
                {% block header%}
                    {% include "components/carousel.html.twig" %}
                {% endblock header%}
            </section>
            <section id='sidebar'>
                {% block sidebar %}
                   Sidebar
                {% endblock sidebar %}
            </section>
            <section id='content'>
                {% block content %}
                {% endblock content %}
            </section>
            <section id='footer'>
                This is the footer.
            </section>
        </div>
        {% endblock body %}

        {% block javascripts %}  
        <script src="bower_components/foundation/js/vendor/jquery.js"></script>
        <script src="bower_components/foundation/js/foundation/foundation.js"></script>
        
        <script src="bower_components/foundation/js/foundation/foundation.orbit.js"></script>
        <script src="bower_components/foundation/js/foundation/foundation.topbar.js"></script>
        <script src="bower_components/foundation/js/foundation/foundation.joyride.js"></script>
        <script src="/bower_components/foundation/js/foundation/foundation.tab.js"></script>
        <script src="bower_components/foundation/js/vendor/jquery.cookie.js"></script>
   
        <script>
            $(document).foundation();
        </script>
        {% endblock javascripts %}
