{% extends "layout/base.html.twig" %}
{% block title %}My Foundation site
{% endblock title %}
       {% block stylesheets %}
           <!-- If you are using the gem version, you need this only -->
           <link rel="stylesheet" href="stylesheets/bootstrap/main.css">
       {% endblock stylesheets %}

        {% block body %}
            <div id="container">
                <div class='two-col'>
                    <section id="navi">
                        {% block navigation %}
                            {% include "components/bootstrap/navigation.html.twig" %}
                        {% endblock navigation %}
                    </section>
                    <section id='header'>
                        {% block header%}
                            {% include "components/bootstrap/jumbotron.html.twig" %}
                        {% endblock header%}
                    </section>
                    <section id='sidebar'>
                        {% block sidebar %}
                            Sidebar
                        {% endblock sidebar %}
                    </section>
                    <section id='content'>
                        {% block content %}
                        {% endblock content %}
                    </section>
                    <section id='footer'>
                        This is the footer.
                    </section>
                </div>
            </div>
        {% endblock body %}

        {% block javascripts %}
            <script src="/bower_components/bootstrap-sass/js/tests/vendor/jquery.js"></script>
            <script src="bower_components/bootstrap-sass/dist/js/bootstrap.min.js"></script>
       
        {% endblock javascripts %}
