<!DOCTYPE html>

<html>
    <head>
        <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
    </head>
    <body>
        <div class='two-col'>
            <div id='header'>
                {% block header%}
                    <h1>This is the Header Jo</h1>
                    <h2>{{ name }}</h2>
                {% endblock header%}   
            </div>
            <div id='sidebar'>
                {% block navigation %}
                    {% include "components/navigation.html.twig" %}
                {% endblock navigation %}
            </div>
            <div id='content'>
                {% block content %}
                {% endblock content %}
            </div>
            <div id='footer'>
                This is the footer.
            </div>
        </div>  
    </body>
</html>