<!DOCTYPE html>

<html>
    <head>
        <link href="/stylesheets/app.css" media="screen, projection" rel="stylesheet" type="text/css" />
      
    </head>
    <body>
        <div class='two-col'>
            <section id='header'>
                {% block header%}
                    <h1>This is the Header Jo</h1>
                    <h2>{{ name }}</h2>
                {% endblock header%}   
            </section>
            <section id='sidebar'>
                {% block navigation %}
                    {% include "components/navigation.html.twig" %}
                {% endblock navigation %}
            </section>
            <section id='content'>
                {% block content %}
                {% endblock content %}
            </section>
            <section id='footer'>
                This is the footer.
            </section>
        </div>  
    </body>
</html>